.registrerte { 
    width: 600px;
    margin: auto;
    border-radius: 4px;
    text-align: center;
}

h1 {
    background-color: rgba(251, 251, 251, 0.99);  
    color:rgba(0, 0, 0, 0.587);
    border: 2px solid rgba(11, 11, 11, 0.176);
    width: 400px;
    font-family:"Calibri";
    
}
h2 {
    background-color: rgba(255, 255, 255, 0.983);
    color:rgba(0, 0, 0, 0.587);  
    border: 2px solid rgba(11, 11, 11, 0.176);
    font-family:"Calibri";   
}
html {
    background-color:antiquewhite;
}
footer {
    position:absolute;
    bottom: 0;

}